{% extends 'basic_app/base.html' %}
{% load staticfiles %}

{% block body_block %}
    <div class="jumbotron">
    {% if registered %}
        <h1>Gracias por registrarse!</h1>
    {% else %}
        <h1>Registrése aquí</h1>
        <h3>Ingrese sus datos</h3>
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
        <input type="submit" name="" value="Register">

        </form>
    {% endif %}
    </div>
{% endblock %}